<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div>
<%= image_tag("foto.jpg") %>
</div>


<div
class="card" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4)), url(<%= asset_path("foto.jpg") %>);">
<h1> hola </h1>
</div>


<div class="card mb-3">
  <img src="<%= asset_path("foto.jpg") %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img src="..." class="card-img-bottom" alt="...">
</div>
